<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>shop</title>
	<link rel="stylesheet" href="static/css/defaults.css">
	<link rel="stylesheet" href="static/css/ui.css">
	<link rel="stylesheet" href="static/css/indexui.css">
</head>
<body>	
	<div class="page">
		<header class="header">
			<h1 class="website-title"><p>쇼핑몰</p></h1>
		</header>

		<ul class="menu">
			<li class="menu-item">
				<a href="/" class="menu-link" >멍탐정</a>
			</li>
			<li class="menu-item">
				<a href="/shop" class="menu-link" >Home</a>
			</li>
		</ul>
		<section class="primary">		
			<ul class="card-list">
				<li class="card-item">
					<figure class="card-image" style="background-image: url(images/lee.jpg);"></figure>
					<div class="card-desc"><a href="board.html" target="_blank"></a>
						<p>이름:</p>
						<p>가격:</p>
						<p>asdgsdaghshsaasdhsd</p>
						<br>
						<form method="get">
							<button onclick="buy()">주문</button>
						</form>					
					</div>
				</li>
				<li class="card-item">
					<figure class="card-image" style="background-image: url(images/css.png);"></figure>
					<div class="card-desc"><a href="board.html" target="_blank"></a>
						<p>이름:</p>
						<p>가격:</p>
						<p>asdgsdaghshsaasdhsd</p>
						<br>
						<form method="get">
							<button onclick="buy()">주문</button>
						</form>					
					</div>
				</li>
				<li class="card-item">
					<figure class="card-image" style="background-image: url(images/html.png);"></figure>
					<div class="card-desc"><a href="board.html" target="_blank"></a>
						<p>이름:</p>
						<p>가격:</p>
						<p>asdgsdaghshsaasdhsd</p>
						<br>
						<form method="get">
							<button onclick="buy()">주문</button>
						</form>					
					</div>
				</li>
				<li class="card-item">
					<figure class="card-image" style="background-image: url(images/flask.png);"></figure>
					<div class="card-desc"><a href="board.html" target="_blank"></a>
						<p>이름:</p>
						<p>가격:</p>
						<p>asdgsdaghshsaasdhsd</p>
						<br>
						<form method="get">
							<button onclick="buy()">주문</button>
						</form>					
					</div>
				</li>
				<li class="card-item">
					<figure class="card-image" style="background-image: url(images/playdata.png);"></figure>
					<div class="card-desc"><a href="board.html" target="_blank"></a>
						<p>이름:</p>
						<p>가격:</p>
						<p>asdgsdaghshsaasdhsd</p>
						<br>
						<form method="get">
							<button onclick="buy()">주문</button>
						</form>					
					</div>
				</li>
				<li class="card-item">
					<figure class="card-image" style="background-image: url(images/dacon.png);"></figure>
					<div class="card-desc"><a href="board.html" target="_blank"></a>
						<p>이름:</p>
						<p>가격:</p>
						<p>asdgsdaghshsaasdhsd</p>
						<br>
						<form method="get">
							<button onclick="buy()">주문</button>
						</form>					
					</div>
				</li>
				<li class="card-item">
					<figure class="card-image" style="background-image: url(images/kaggle.png);"></figure>
					<div class="card-desc"><a href="board.html" target="_blank"></a>
						<p>이름:</p>
						<p>가격:</p>
						<p>asdgsdaghshsaasdhsd</p>
						<br>
						<form method="get">
							<button onclick="buy()">주문</button>
						</form>					
					</div>
				</li>
			</ul>
		</section>
		<aside class="secondary secondary-a">
			<ul class="user-list friend-list">
				<li class="user-item friend-item">
					<figure class="user-photo" style="background-image: url(images/2user.jpeg);"></figure>
					<p class="user-name">
						잠자는 그루
					</p>
				</li>
				<li class="user-item friend-item">
					<figure class="user-photo" style="background-image: url(images/3user.jpg);"></figure>
					<p class="user-name">
						뛰는 그루 
					</p>
				</li>
				<li class="user-item friend-item">
					<figure class="user-photo" style="background-image: url(images/1user.jpg);"></figure>
					<p class="user-name">
						나는 그루
					</p>
				</li>
			</ul>
		</aside>

		<aside class="secondary secondary-b">
			<ul class="user-list">
				<li>
					<img class="picture" src="images/go.png" style="height: 1100px;" >			
				</li>
			</ul>
		</aside>
		<footer class="footer">
			<a href='tel:010-9962-4852'><p>📞</p></a>
		</footer>
	</div>
	</div>
	<script>
		function buy(){
			const xhttp = new XMLHttpRequest();
			xhttp.onreadystatechange = function(){
				if (this.readyState ==4 && this.status == 200) {
					data = JSON.parse(this.responseText);
					
				}
			}
		}
	</script>
</body>
</html>